@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@keyframes headerIn {
    from{top: -5%}
    to{top: 0%}
}
@keyframes ElementToUpOpacity {
    from { transform: translateY(80px); opacity: 0; }
    to {  transform: translateY(0px); opacity: 1;  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: sans-serif;
    overflow-x: hidden;
    background: #f5f5f7;
}
h1,h2 {
    font-family: 'ubuntu', sans-serif;
}
p {
    color: #696969;
}
li {
    list-style-type: none;
}
header a, header li, footer a {
    text-decoration: none;
    display: block;
    color: #fff;
}
header nav a {
    transition: 0.5s;
}
/*Estilo para limitar as divisões*/
.about-us, .container-skybank, .ajuda-us, .division-about-sykybank > .about-skybank, .banner-limiter-items, .header-menu-items, .footer-limiter, .main-limiter {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.header-nav a {
    padding: 10px 15px;
}
.header-logo a, .footer-logo a {
    padding: 10px 15px 10px 0;
}

.header-logo span {
    font: 600 3rem 'Lato', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #F9B338, #f98538);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-nav > ul {
    display: flex;
}

.header-nav a:hover {
    color: #F9B338;
}
header {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease;
    z-index: 1000;
}
.header-menu-bar-sticky {
    position: fixed;
    animation: headerIn 0.5s forwards;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
    z-index: 1000;
}
.header-menu-bar-sticky a {
    color: #696969;
}
.header-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 2.5rem sans-serif;
}
.btn-mobile {
    display: none;
}
.header-menu-bar-sticky .btn-mobile > span {
    color: #000;
}


.banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
[data-js="banner-images"] {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -100;
    position: fixed;
}

.banner-image-one {
    background: white url("imagens/banner-header-one.jpg") no-repeat center;
    background-size: cover;
    filter: brightness(45%);
}
.banner-image-two {
    left: 100%;
    background: white url("imagens/banner-header-two.jpg") no-repeat center;
    background-size: cover;
    filter: brightness(80%);
}

.banner-limiter-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.banner-span > h1 {
    color: white;
    text-transform: uppercase;
    font: bold min(50px, 6vw) 'Ubuntu', sans-serif;
    word-spacing: 2px;
}
.banner-span h2 {
    color: white;
    font: min(2rem, 3.8vw) 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.banner-button {
    margin-top: 20px;
}

.banner-button button, .card-elements button, .ajuda-text button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    font: 2rem sans-serif;
    letter-spacing: 1px;    
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 100;
}
.banner-button button::before, .banner-button button::after, .card-elements button::before, .card-elements button::after, 
.ajuda-text button::before, .ajuda-text button::after {
    content: "";
    background: linear-gradient(135deg, #F9B338, #f98538);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.6s ease;
}
.banner-button button::after, .card-elements button::after, .ajuda-text button::after {
    background: linear-gradient(35deg, #f98538, #F9B338);
    left: 100%;
}
.banner-button button:hover::before, .card-elements button:hover::before, .ajuda-text button:hover::before {
    left: -100%;
}
.banner-button button:hover::after, .card-elements button:hover::after, .ajuda-text button:hover::after {
    left: 0;
}

.banner-buttons-background {
    position: absolute;
    bottom: 5%;
}
.banner-buttons-background > input {
    cursor: pointer;
    appearance: initial;
    border: 1px solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.active {
    background: linear-gradient(135deg, #F9B338, #f98538);
}
.banner-buttons-background > input:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.158);
}


main, .division-ajuda-us {
    padding-top: min(80px, 15vw);
    background: #f5f5f7;
}
.ElementToUpOpacity {
    animation: ElementToUpOpacity 1s forwards;
}

.main-limiter > hr {
    width: 90%;
    margin: auto;
}
.main-info {
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}
.plans-title {
    width: 100%;
    font: min(4rem, 9vw) sans-serif;
    color: #424242;
    opacity: 0;
}
.plans-sub-title {
    font: 2rem sans-serif;
    margin: auto;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    opacity: 0;
}
.card-title {
    margin: 20px 0;
    text-align: center;
    font: 2.5rem 'Ubuntu', sans-serif;
    color: #696969;
    opacity: 0;
}
.card-title > h2 > span {
    color: #f98538;
}


.main-cards {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-cards > div {
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 15px rgba(202, 202, 202, 0.712);
    opacity: 0;
    transition: 1s;
    margin: 0 20px;
    border-radius: 10px;
    background-color: #fff;
}
.main-cards > div:hover {
    box-shadow: 0 0 25px 2px rgba(187, 187, 187, 0.712);
    transition: 0.2s;
}

.card-elements {
    padding: 10px 20px;
}
.card-elements button {
    font-family: sans-serif;
    text-transform: none;
}
.card-header, .card-price {
    padding: 10px 0;
    text-align: center;
    font-size: 1.8rem;
    border-bottom: dotted 1.5px gray; 
}
.card-header > h1, .card-header > span, .card-price > p, .card-price > p span {
    color: #F9B338;
}
.card-header > h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.card-price > h2, .card-price > span {
    font: bold 1.5rem 'Ubuntu', sans-serif;
    color: #696969;
}
.card-price > p {
    margin: 5px 0;
}
.card-price > p > span {
    font-size: 3rem;
    margin: 0 3px;
}
.card-specifications > ul {
    margin: 10px 15px;
}
.card-specifications li {
    list-style-type: disc;
    color: #696969;
}
.card-specifications li:not(:first-child) {
    margin-top: 10px;
}

.card-button {
    margin: 15px 0;
    text-align: center;
}

/*DIVISION ADS SKYBANK*/
.division-webSite-skybank {
    background: linear-gradient(135deg, #1D2731, #0B3C5D);
    margin-top: 50px;
}
.container-skybank {
    padding: 40px 0;
    text-align: center;
    color: white;
}
.container-skybank .text-h1 {
    font: 2.5rem sans-serif;
}
.text-p > p {
    color: white;
}
.container-skybank .text-p {
    font: 2rem sans-serif;
    margin-top: 15px;
}
.skybank-image  {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    opacity: 0;
}
.skybank-image > img {
    width: 100%;
    border-radius: 5px;
}
.elements-skybank {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.elements-skybank > ul {
    margin-top: 30px;
}
.elements-skybank li {
    width: 100%;
    max-width: 450px;
    padding: 10px;
    text-align: left;
    color: #F9B338;
    opacity: 0;
}
.elements-skybank li:not(:first-child) {
    margin-top: 15px;
}
.elements-skybank li p {
    color: rgb(214, 214, 214);
}
.skybank-division-flex {
    display: flex;
    align-items: center;
}
.skybank-division-flex > div {
    margin-right: 5px;
}


/*Division atendimento*/
.ajuda-us {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ajuda-title {
    opacity: 0;
}
.ajuda-title > h1 {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 3rem;
    color: #424242;
}
.ajuda-texts {
    margin-left: 70px;
}
.ajuda-text {
    width: 100%;
    max-width: 500px;
    font: 2rem sans-serif;
    opacity: 0;
}
.ajuda-text button {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem
}
.ajuda-text > p {
    margin: 10px 0;
    color: #696969;
}
.ajuda-text a {
    text-decoration: none;
    color: #F9B338;
}
.ajuda-text svg {
    transition: 0.2s ease;
}
.ajuda-text button:hover svg {
    transform: translateX(5px);
}
.ajuda-image {
    width: 100%;
    max-width: 550px;
    height: 550px;
    border-radius: 5px;
    background: transparent url("imagens/img-atendimento.jpg") no-repeat center;
    background-size: cover;
    opacity: 0;
}
.atendimento-button {
    opacity: 0;
}

/*DIVISION ABOUT*/
.about-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.about-info > ul {
    display: flex;
    margin-top: 20px;
}
.about-info li:not(:first-child) {
    margin-left: 10px;
}
.division-about {
    padding: min(80px, 15vw) 0;
    background: #f5f5f7;
}
.about-background-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-photo {
    width: 250px;
    height: 250px;
    background: #fff url("imagens/photo_perfil_about.png") no-repeat center;
    background-size: cover;
    border-radius: 5px;
    flex-shrink: 0; 
    opacity: 0;
}
.about-info {
    width: 100%;
    max-width: 500px;
    margin-left: 30px;
    font: 2rem sans-serif;
}
.about-info > h1 {
    margin: 15px 0 10px 0;
    color: #696969;
}
.about-info > h1, .about-info > p, .about-info li {
    opacity: 0;
}

/*Division sobre o skybank*/
.division-about-sykybank {
    background: linear-gradient(135deg, #1D2731, #0B3C5D);
}
.division-about-sykybank > .about-skybank {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-sky-texts {
    width: 100%;
    max-width: 650px;
    margin: 20px 30px 0 0;
}
.about-sky-title, .comercial-title {
    font: 2.5rem sans-serif;
    color: #fff;
    margin: 5px 0;
}
.about-sky-info {
    width: 100%;
    margin: 5px 0;
    line-height: 20px;
}
.about-sky-info > p {
    color: rgb(194, 194, 194);
}
.about-sky-info > p > span {
    color: #F9B338;
}
.about-contact-comercial {
    margin-top: 20px;
}
.contact-links > ul {
    margin-top: 5px;
    margin-left: 20px;
}
.contact-links li {
    list-style-type: disc;
    margin: 14px 0;
    color: #F9B338;
}
.contact-links li > a {
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.contact-links li > a:hover {
    text-decoration: underline;
    color: #fff;
}

footer {
    padding: 20px 0;
    background: linear-gradient(135deg, #f9b338, #f98538);
    color: #fff;
}
.footer-logo span {
    font: 3rem 'Lato', sans-serif;
}
.footer-limiter {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
